/* Estilos Globales*/
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
/* Barra de navegacion*/
.col:hover {
  background-color: #b2dee2;
  cursor: pointer;
  padding: 40px;
  border-radius: 10px;
  transition: 0.3s ease;
  text-align: center;
  
}

.nav-link {
  color: #151414;
  background-color: #4572ec;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

.nav-link:hover {
  background-color: #3722ef;
  color: #f8f3f3;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

.nav-link.active:hover{
  background-color: #3722ef;
  color: #f8f3f3;
    text-decoration: none;
}
/* Carrusel*/
#carouselExampleControlsNoTouching {
  max-width: 850px;
  margin: 40px auto;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(1, 47, 255, 0.2);
}

.carousel-inner img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  
}
.card-img-top {
  height: 100px;         /* Ajustá según tu diseño */
  object-fit: auto;     /* Recorta la imagen sin deformarla */
  border-radius: 1rem; /* Opcional: suaviza bordes */
}
