/* Estilos Globales*/
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
/* Barra de navegacion*/

/* Carrusel*/
#carouselExampleControlsNoTouching {
  max-width: 850px;
  margin: 40px auto;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(1, 47, 255, 0.2);
}

.carousel-inner img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  
}


/* Profesionales*/

.card-img-profesional {
  height: 250px;
  object-fit: cover;
  object-position: center top;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card-title-profesional {
  font-weight: 600;
  color: #2c3e50;
  text-align: center;
}

.card-text-profesional {
  font-style: italic;
  color: #6c757d;
  text-align: center;
}


/* Seccion de obras sociales*/

.card-img-obras-sociales {
  height: 250px;
  object-fit: cover;
  object-position: center top;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.card-title-obras-sociales {
  font-weight: 600;
  color: #2c3e50;
  text-align: center;
}

.card-text-obras-sociales {
  font-style: italic;
  color: #6c757d;
  text-align: center;
}
/* Redes sociales */

.iconos-redes {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.iconos-redes a {
  font-size: 2.5rem;
  color: #3498db;
  transition: transform 0.3s ease, color 0.3s ease;
}

.iconos-redes a:hover {
  transform: scale(1.2);
  color: #1abc9c; /* Cambio de color al pasar el mouse */
}
